includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    bootstrapFiles:
        - tests/_bootstrap.php

    level: max

    paths:
        - config
        - src
        - tests/Acceptance
        - tests/Functional
        - tests/Unit

    tmpDir: %currentWorkingDirectory%/public/runtime

    yii2:
        config_path: %currentWorkingDirectory%/config/web/app.php

    # Enable strict advanced checks
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
