/**
 * site.css
 *
 * Css web application basic
 */

/**********************************************************************************************************************
 * MAIN                                                                                                               *
 **********************************************************************************************************************/
 :root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

a.asc:after {
    content: "\2191";
	padding-left: 2px;
}

a.desc:after {
	content: "\2193";
    padding-left: 2px;
}

html, body {
	height: 100vh;
}

/**********************************************************************************************************************
 * BREADCRUMBS                                                                                                        *
 **********************************************************************************************************************/
.breadcrumb > li + li:before {
    color: #7c8695;
    content: "/\00a0";
    padding: 0 5px;
}
