---
on:
  pull_request: &ignore-paths
    paths-ignore:
      - ".gitattributes"
      - ".gitignore"
      - "CHANGELOG.md"
      - "docs/**"
      - "README.md"

  push: *ignore-paths

name: build

permissions:
  contents: read

jobs:
  codeception:
    uses: yii2-framework/actions/.github/workflows/codeception.yml@main
    secrets:
      AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    with:
      codeception-command: vendor/bin/codecept run
      coverage-driver: none
      extensions: gd, intl, pcov
      hook: |
        export TERM=xterm

        if ! getent group frankenphp >/dev/null 2>&1; then
          sudo groupadd --system frankenphp
        fi

        if ! id -u frankenphp >/dev/null 2>&1; then
          sudo useradd --system --gid frankenphp --home /nonexistent --shell /usr/sbin/nologin frankenphp
        fi

        curl -fsSL https://files.henderkes.com/install.sh | sh -s "${PHP_VERSION}"
        sudo apt-get update
        sudo apt-get install -y frankenphp

        frankenphp run --config ./Caddyfile > /dev/null 2>&1 &
        sleep 3
      os: '["ubuntu-latest"]'
