on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'

  push:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'

name: ecs

jobs:
  easy-coding-standard:
    uses: php-forge/actions/.github/workflows/ecs.yml@main
    with:
      extensions: mbstring
      os: >-
        ['ubuntu-latest']
      php: >-
        ['8.2']
